<p>test works!</p>

<div class="container  text-align-center;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let user of listUsers; let index = index;" class="col">
      <div>
      <div class="card text-center pt-3">
        <div class="card-body">
          <div>
            <p>{{user.email}}</p>
          </div>
          <div>
            <h1>{{ user.adress.label }}</h1>
          </div>
            <p>Code postal: {{ user.adress.postalCode }}</p>
            <p>Pays: {{ user.adress.contry }}</p>
        </div>
        <div>
          <h1>Gallery</h1>
      </div>
<!--      <p>Nom: {{ test.galleries[0].name }}</p>-->
<!--      <p>Description: {{ test.galleries[0].description }}</p>-->
    </div>
        <button (click)="viewOneUser(user.id)" type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Detail
        </button>
        <button (click)="delete(user.id, index)" type="button" class="btn btn-primary m-5">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h1 class="modal-title text-center fs-5" id="exampleModalLabel">{{userDetail?.email}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="mb-3">
        <p>{{userDetail?.firstName}}</p>
      </div>

    </div>
  </div>
</div>



<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label class="form-label">Prénom</label>
    <input type="text" formControlName="firstName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Nom de famille</label>
    <input type="text" formControlName="lastName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" formControlName="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Mot de passe</label>
    <input type="password" formControlName="password" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Genre</label>
    <input type="text" formControlName="gender" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Adresse</label>
    <input type="text" formControlName="label" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Code postal</label>
    <input type="text" formControlName="postalCode" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Pays</label>
    <input type="text" formControlName="contry" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Date de naissance</label>
    <input type="date" formControlName="birth" required>
  </div>

  <button type="submit" [disabled]="!form.valid">Valider</button>
</form>

